:root {
  --color-1: #ffffff;
  --color-2: blue;
  --color-3: black;
  --color-4: rgb(197, 197, 186);
  --color-5: #2980b9;
  --color-6: rgba(0, 0, 0, 0.8);
  --color-7: #fff;
  --color-8: #ebe9ef;
  --color-9: rgb(2, 18, 2);
  --color-10: #c1ffc3;
  --color-11: rgba(204, 12, 12, 0.5);
  --color-12: #39822e;
  --color-13: rgba(100,69,2,1);
  --color-14: #3498db;
  --color-15: #2a6d20;
  --color-16: #1d4c16;
  --color-17: #8cbffb;
  --color-18: #52cc3f;
  --color-19: rgba(40, 117, 29, 0.5);
  --color-20: rgb(0, 0, 0);
  --color-21: rgba(0, 0, 0, 0.3);
  --color-22: rgba(255, 255, 255, 0.88);
  --color-23: rgba(34,193,195,1);
  --color-24: #348628;
  --color-25: #54d440;
  --color-26: green;
}
